name: pnpm test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # https://github.com/nodejs/release#release-schedule
        node-version:
          - 20.x # until 2026-04-30
          - 22.x # until 2027-04-30
          - 24.x # until 2028-04-30

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm
      - run: pnpm install
      - run: pnpm lint
      - run: pnpm build
      - run: bin/run verify-config ./test/ecsx.yml
      - run: pnpm test
